@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');


body{
  background-color: rgb(217,233,255);
  height: 100;
}
.parallax {
    /* The image used */
    background-color: red;

    /* Full height */
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h2{
font-family: 'Bungee Outline', cursive;
font-size: 90px;
}

span{
  color: pink;
}

#root{
  margin-left: 40px;
}
